@import url("https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap");
@-webkit-keyframes play {
  0% {
    background-position: 0px; }
  20% {
    background-position: -11rem; }
  35% {
    background-position: -18rem; }
  50% {
    background-position: -21rem; }
  80% {
    background-position: -35rem; }
  100% {
    background-position: -39rem; } }

body {
  font-family: 'Signika', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box; }

*, *::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.playpause {
  z-index: 1;
  padding: 20px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%); }
  .playpause__button {
    margin-left: 1rem;
    width: 5rem;
    height: 5.5rem;
    background: #fff;
    transition: inherit;
    clip-path: polygon(0 0, 50% 25%, 50% 75%, 50% 75%, 50% 25%, 100% 50%, 100% 50%, 0 100%); }
  .playpause.playing .playpause__button {
    background: #fff;
    width: 5rem;
    clip-path: polygon(0 0, 40% 0, 40% 100%, 60% 100%, 60% 0, 100% 0, 100% 100%, 0 100%); }

.music {
  position: absolute;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .music__title {
    font-size: 2rem;
    text-align: center;
    display: inline-flex;
    margin-bottom: 2rem;
    color: #fff;
    font-weight: 300; }
  .music__player {
    width: 50rem;
    min-height: 10rem;
    background-color: rgba(185, 185, 185, 0.582);
    border: 0.2rem solid rgba(185, 185, 185, 0.582);
    border-radius: 8rem;
    padding: 2rem 3rem;
    box-shadow: 0rem 0rem 1.5rem rgba(185, 185, 185, 0.582), 1rem 1rem 1.5rem rgba(0, 0, 0, 0.1), inset -0.5rem 0.5rem 1.5rem rgba(185, 185, 185, 0.582), inset 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.1); }

.music__player-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; }
  .music__player-btns-playPause ion-icon {
    font-size: 4.5rem; }
  .music__player-btns span {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color: rgba(185, 185, 185, 0.582);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #000;
    cursor: pointer;
    box-shadow: inset 0 -0.5rem 0.5rem rgba(0, 0, 0, 0.1), 0 -0.5rem 1rem rgba(0, 0, 0, 0.1), 0 -1rem 1.5rem rgba(0, 0, 0, 0.1); }
  .music__player-btns span:active {
    color: #fff; }
  .music__player-btns span.active {
    color: #fff; }

.header {
  position: relative;
  height: 100vh;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)); }
  .header__logo-text {
    position: absolute;
    top: 2rem;
    left: 2rem;
    font-weight: 600; }
    .header__logo-text:visited, .header__logo-text:link {
      color: rgba(185, 185, 185, 0.582);
      text-decoration: none;
      padding: 0.3rem;
      font-size: 6rem;
      transition: all 0.1s; }
    .header__logo-text:hover {
      transform: translateY(-0.2rem); }
    .header__logo-text:active {
      transform: translateY(0); }
  .header video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; }
