


$color-primary: #BD4049;
$color-lofi: #BA6D57;
$color-white: #fff;
$color-black: #000;
$color-grey: rgba(185, 185, 185, 0.582);

$color-grey-dark:#999898;
;
//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//Font-szie

$default-font-size: 1.6rem